In [ ]:
list1=['Ram','Raheem','Robert']
list1=[25,30,35]

In [ ]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

In [1]:
for i,j in zip(list1,list2):
    print(i,j)

NameError: name 'list1' is not defined

In [ ]:
#{key:value}

In [4]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1
#keys='Ram','Raheem','Robert'
#value=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [6]:
d3={'even':[2,4,6],
   'odd':[3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [7]:
d4={(2,4,6):'even',
   (3,5,7):'odd'}   #fail

In [8]:
d4={(2,4,6):'even',
   (3,5,7):'odd'}
d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [9]:
#{'key':<{}>}
d5={'item_list':{'fruits':'apple'}}
d5

{'item_list': {'fruits': 'apple'}}

In [12]:
d6={{'fruits':'apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

- whenever we take key postion in dict postition  and list postions fails
- atvalues postion we can take any data type
- dictionary is a key value pair 
- no requirement of creating duplicate pairs
- if we update a key value latest value will take
- max and min value based on key only
- if key has numeric values we can do sum

In [13]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [15]:
d1={'A':1,'B':2}
d1

{'A': 1, 'B': 2}

$type$

In [16]:
type(d1)

dict

In [ ]:
-str
-list
-dict
-int
-float
-bool
-complex
-tuple
-set

In [19]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
max(d1)

'Robert'

In [18]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
min(d1)

'Raheem'

$len$

In [20]:
len(d1)

3

In [21]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
d2={1:2,3:4}
sum(d2)

4

In [24]:
d2={1:"2",3:"4"}
sum(d2)

4

In [25]:
"a"*"b"

TypeError: can't multiply sequence by non-int of type 'str'

$in-operator$

In [27]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
#ram:25 in d1 ---fails
    
'ram' in d1--------#true

#25 in d1======fails

False

In [28]:
for i in d1:
    print(i)

Ram
Raheem
Robert

$index$

In [29]:
l1=[10,20,30,40]
l1[0]

10

In [30]:
str1='Apple'
str1

'Apple'

In [34]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1['Ram']

25

In [37]:
for key in d1:
    print(key,d1[key])

Ram 25
Raheem 30
Robert 35

In [38]:
for key in d1:
    print('the age of {} is {}'.format(key,d1[key]))

the age of Ram is 25
the age of Raheem is 30
the age of Robert is 35

In [40]:
for key in range(len(d1)):
    print (key)
#print('the age of {} is {}'.format(key,d1))===not works

0
1
2

$creating an empty dictionary and update$

In [42]:
s=''

for i in 'apple':
    s=s+i
print(s)

apple

In [46]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
d1={}
d1["fruit"]='Apple'
d1

{'fruit': 'Apple'}

In [69]:
d2={}
d2['name']='madhu'
d2['place']='hyderabad'
d2

{'name': 'madhu', 'place': 'hyderabad'}

In [ ]:
#wap create a dict based on two lists
#names=['Ram','Raheem','Robert']
#age=[25,30,35]

In [73]:
names=['Ram','Raheem','Robert']
age=[25,30,35]
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [76]:
list1=[]
for i in range(len(names)):
    list1.append(i)
list1=[i for i in range(len(names))]
list1

[0, 1, 2]

In [78]:
names=['Ram','Raheem','Robert']
age=[25,30,35]
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
dict1={names[i]:age[i] for i in range(len(names))}
dict1={name:age for name,age in zip(names,age)}

dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [81]:
names=['Ram','Raheem','Robert']
age=[25,30,35]
dict1={}
for i in range(len(names)):
    
    dict1={names[i]:age[i] for i in range(len(names))}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [ ]:
#wap take 5 random nos and create a dict with even and odd
#output: {'even':[20:22],}
#s1: take empty dict
-l#s2: take 2 empty lists
#s3:import random
#s4: for i in range(5)
#s5:num=random.randint(a,b)
#s6:perform if <even>:
#s7:append the values in even lists
#s8:else case
#s9:append values in odd lists
#s10:create dict

In [112]:
import random
dict5={}
even_list=[]
odd_list=[]
for i in range(5):
    num=random.randint(1,100)
    
    if num%2==0:
            
            even_list.append(num)
    else: 
            
            odd_list.append(num)
dict5

TypeError: unhashable type: 'list'

In [6]:
import os
os.getcwd()

'C:\\Users\\MADHURI\\OneDrive\\Documents\\datascience 9am'

**dictionary methods**

In [7]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#str=''
#list=[]

$items-keys-values$

In [8]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [18]:
#items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [32]:
#keys
d1.keys()

dict_keys(['Ram', 'Raheem', 'Robert'])

In [33]:
#values
d1.values()

dict_values([25, 30, 35])

In [34]:
type(items)

dict_items

In [35]:
values=d1.values()
values

dict_values([25, 30, 35])

In [36]:
type(values)

dict_values

In [37]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [38]:
values
values_list=list(values)
values_list

[25, 30, 35]

In [40]:
keys=list(d1.keys())
values=list(d1.values())

In [41]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [45]:
dict1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [46]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [47]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [55]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,k1.rahul@lucknow.com'
#{'first_name':['virat','rohit','Kl']}
# 'second_name':['kohli','sharma','rahul'],
#'company':['blr','mumbai','lucknow']
s1.split(',')

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'k1.rahul@lucknow.com']

In [65]:
str1='virat.kohli@blr.com'
d1={}
f_name=str1[:str1.find('.')]
s_name=str1[str1.find('.')+1:str1.find('@')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)]for str1 in s1.split(',')]
f_name,s_name,c_name

d1['first_name']=f_name
d1['second_name']=s_name
d1['company_name']=c_name
d1

{'first_name': 'virat',
 'second_name': 'kohli',
 'company_name': ['blr', 'mumbai', 'lucknow']}

In [70]:
str1='can can you canner can can you able to can canner'
words=str1.split()
dic={}
for word in words:
    if not word in dic:
        dic[word]=1
    else:
        dic[word]+=1
dic

{'can': 5, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [71]:
str1='can can you canner can can you able to can canner.'
l1=str1.split(' ')
d1={}

In [ ]:
d1={'a':20,'b'=30,'c':40}
d2={'a':50,'b':100,'c':200}
o/p={'a':70,'b':130,'c':240}

In [74]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [76]:
d3={}
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]
d3

{'a': 70, 'b': 130, 'c': 240}