- lambda function is nothing but create a function
- one argument
- multiple arguments
- if else conditions same like list comprehension
- elif

In [7]:
list1=['hyd','mumbai','chennai']
#output: ['Hyd','Mumbai','Chennai']
#M-1: use append and list com



list2=[]
for i in list1:
    list2.append(i.capitalize())
print(list2)

['Hyd', 'Mumbai', 'Chennai']

In [8]:
# method-2

[i.capitalize() for i in list1]

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
lamda <arguments>: <output>

In [ ]:
#whenever we use iterations 
#iterator : something can be iterable/you can print using for loop
#list string tuple dictionary

In [ ]:
lambda <arguments>: <output>,<iterator>
[i.captilize() for i in list1]         #using list comprehension

In [9]:
list1=['hyd','mumbai','chennai']
lambda i:i.capitalize(),list1    #using lambda function

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai'])

In [ ]:
lamda <arg>:<output>

In [ ]:
- next we need to map the input and output

In [10]:
list1=['hyd','mumbai','chennai']
map(lambda i:i.capitalize(),list1)

In [ ]:
- store the output

In [11]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

steps:
- make a lambda function
- add your iterator
- map both function and iterator
- save the result in the list

In [12]:
list1=['hyd','mumbai','chennai']
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize(),list1)
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [18]:
list1=[1,2,3,4,5]
#[1,4,9,16,25]

list(map(lambda i:i*i,list1))

for i in map(lambda i:i*i,list1):
    print(i)

1
4
9
16
25

In [19]:
list1=[1,2,3]
list2=[11,22,33]
#[12,24,36]

for i,j in zip(list1,list2):
    print(i+j)

12
24
36

In [21]:
(map(lambda i,j:i+j, list1,list2))

In [22]:
list1=['h#d','mum#bai','chennai']
#['h#d','mum#bai']



[i for i in list1 if '#' in i]

['h#d', 'mum#bai']

In [24]:
lambda i: '#' in i,list1

(<function __main__.<lambda>(i)>, ['h#d', 'mum#bai', 'chennai'])

In [28]:
list(filter(lambda i: '#' in i,list1))

['h#d', 'mum#bai']