**type casting**

In [ ]:
type casting means changing one data type to another data type

-int to float
-int to string
-int to boolean
-int to complex

**integer to other datatypes**

In [1]:
number1=100
#case-1  int=====>float
float(number1)  #number1 to float type 100====>100.0

100.0

In [2]:
float_number

NameError: name 'float_number' is not defined

In [3]:
type(float_number)

NameError: name 'float_number' is not defined

In [4]:
type(float_number)

NameError: name 'float_number' is not defined

In [6]:
#case2 int to string
string_number=str(number1)
string_number

'100'

In [7]:
type(string_number)

str

In [9]:
#case3 int to boolean
boolean_number=bool(number1)
boolean_number

True

In [10]:
bool(100)

True

**other than zero everything is false in boolean type**

In [11]:
bool(0)

False

In [12]:
#case-4
complex(100)

(100+0j)

In [13]:
complex_number=complex(100)
complex_number

(100+0j)

In [ ]:
number1=100
float_number=float(number1) #100.0
string_number=str(number1) #'100'
boolean_number=bool(number1) #true
complex_number=complex(number1) # 100+0j

In [ ]:
convert float to all other types

In [14]:
number2=100.5
int_number=int(number2)
int_number

100

In [15]:
number2=100.5
str_number=str(number2)
str_number

'100.5'

In [16]:
number2=100.5
bool_number=bool(number2)
bool_number

True

In [17]:
number2=100.5
complex_number=complex(number2)
complex_number

(100.5+0j)

In [18]:
#string to other data types

In [19]:
string_value1='apple'
int(string_value1)

ValueError: invalid literal for int() with base 10: 'apple'

In [20]:
string_value1='apple'
float(string_value1)

ValueError: could not convert string to float: 'apple'

In [21]:
string_value1='apple'
bool(string_value1)

True

In [22]:
string_value1='apple'
complex(string_value1)

ValueError: complex() arg is a malformed string

In [23]:
empty string returns false in boolean conversion

SyntaxError: invalid syntax (536616441.py, line 1)

In [25]:
string_value1=''
bool(string_value1)

False

In [26]:
string_value1='apple'
complex(string_value1)

ValueError: complex() arg is a malformed string

In [27]:
string_value2='10.5'
bool(string_value2)

True

In [29]:
string_value2='10.5'  beacuse base type is float and we are going to convrt it into integer so it shows error
int(string_value2)

ValueError: invalid literal for int() with base 10: '10.5'

In [31]:
string_value2='10.5'
float(string_value2)

10.5

In [32]:
string_value2='10.5'
bool(string_value2)

True

In [33]:
string_value2='10.5'  
complex(string_value2)

(10.5+0j)

In [34]:
float(10.5)

10.5

In [35]:
float('10.5')

10.5

In [36]:
int(10.5)

10

In [37]:
int('10.5')  #fail

ValueError: invalid literal for int() with base 10: '10.5'

In [38]:
float(10)

10.0

how to convert string to integer without fail

In [40]:
string='10.5'
n1=float(string1)
n2=int(n1)
n2

NameError: name 'string1' is not defined

In [41]:
#boolean conversion
val1=True
int(val1)
val1

True

In [42]:
val1=True
float(val1)
val1

True

In [43]:
val1='True'
str(val1)
val1

'True'

In [44]:
val1=True
complex(val1)
val1

True

In [45]:
#complex to other
val2=100+200j
int(val2)
val2

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [46]:
val2=100+200j
float(val2)
val2

TypeError: float() argument must be a string or a real number, not 'complex'

In [47]:
val2='100+200j'
str(val2)
val2

'100+200j'

In [48]:
val2=100+200j
bool(val2)
val2

(100+200j)

In [49]:
val2=100+200j
complex(val2)
val2

(100+200j)

In [50]:
val2=100+0j
int(val2)
val2

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [51]:
val2=100+0j
float(val2)
val2

TypeError: float() argument must be a string or a real number, not 'complex'

In [52]:
val2='100+0j'
str(val2)
val2

'100+0j'

In [53]:
val2=100+0j
bool(val2)
val2

(100+0j)

In [54]:
bool(0j)

False