In [ ]:
#strings
#lists
#dictionary
#tuple
#set

# how to read the strings?

In [2]:
string1='python'  #single quotes
string1

'python'

In [5]:
string2="python" #double quotes
string2

'python'

In [ ]:
###triple quotes 
#doc string is used to say some information about your python code

In [6]:
"""
im creating a hello world function
arguments: None
return: None
"""
def hello():
    print('good morning')

'hello python'   #i want to highlight the python

In [7]:
string3='hello "python"'         #the string will be highlighted when we give particular quotes for the statement and it will be highlighted with double quotes                                       highlighted
print(string3)

hello "python"

- type
- len
- max
- min

# type

In [8]:
type(string1)

str

# len

In [9]:
len(string1)

6

# max and min

In [11]:
string1='pP'
max(string1)

#ASCII
# 'A' : 65   'a':97

'p'

$ord and chr$

In [12]:
ord('p')         #it will provide ascii value of character

112

In [13]:
ord('P')

80

In [14]:
string1='python'
max(string1)

'y'

In [15]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [18]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

In [22]:
for i in range(6):   #range =====math
    print(i)

0
1
2
3
4
5

In [ ]:
#i want to print p y t h o n

$in$

In [24]:
string1='python'

'p' in string1
'y'in string1
't'in string1
'h'in string1
'o' in string1
'n'in string1

#i in string1   -generalised expression

True

In [25]:
for i in string1:
    print(i)

p
y
t
h
o
n

- range(): whenever we use range function we need to provide number inside the range
- in: in operator is only used for strings
- if you want to print the letters using in operator using for loop

In [27]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

112
121
116
104
111
110

In [26]:
for i in string1:
    print(ord(i))

112
121
116
104
111
110

In [28]:
for i in string1:
    print('the ascii value {} is {}'.format(i,ord(i)))

the ascii value p is 112
the ascii value y is 121
the ascii value t is 116
the ascii value h is 104
the ascii value o is 111
the ascii value n is 110

In [ ]:
# ascii values of A to Z

In [33]:
for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print('the ascii value {} is {}'.format(i,ord(i)))

the ascii value A is 65
the ascii value B is 66
the ascii value C is 67
the ascii value D is 68
the ascii value E is 69
the ascii value F is 70
the ascii value G is 71
the ascii value H is 72
the ascii value I is 73
the ascii value J is 74
the ascii value K is 75
the ascii value L is 76
the ascii value M is 77
the ascii value N is 78
the ascii value O is 79
the ascii value P is 80
the ascii value Q is 81
the ascii value R is 82
the ascii value S is 83
the ascii value T is 84
the ascii value U is 85
the ascii value V is 86
the ascii value W is 87
the ascii value X is 88
the ascii value Y is 89
the ascii value Z is 90

In [31]:
#package_name: string
import string

In [32]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [34]:
import string
for i in string.ascii_uppercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [36]:

for i in string.ascii_lowercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of a is 97
the ascii value of b is 98
the ascii value of c is 99
the ascii value of d is 100
the ascii value of e is 101
the ascii value of f is 102
the ascii value of g is 103
the ascii value of h is 104
the ascii value of i is 105
the ascii value of j is 106
the ascii value of k is 107
the ascii value of l is 108
the ascii value of m is 109
the ascii value of n is 110
the ascii value of o is 111
the ascii value of p is 112
the ascii value of q is 113
the ascii value of r is 114
the ascii value of s is 115
the ascii value of t is 116
the ascii value of u is 117
the ascii value of v is 118
the ascii value of w is 119
the ascii value of x is 120
the ascii value of y is 121
the ascii value of z is 122

In [38]:
# what is the starting and ending of ascii numbers?   starts with 33 and ends with 127

for i in range(1,50):
    print(i,chr(i))

1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1

In [40]:
for i in range(33,127):
    print(i,chr(i))

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~

In [41]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [ ]:
# wap ask the user find number of a letters in a given string string='hai how are you and how do you do'
first iterate the string using in operator and for loop
#print each letter i
#apply the if condition i=='a'
#count=0
#count=count+1

In [45]:
count=0
string1='hai how are you and how do you do'
for i in string1:
    print(i)
    if i=='a':
        count=count+1
        
print(count)

h
a
i

h
o
w

a
r
e

y
o
u

a
n
d

h
o
w

d
o

y
o
u

d
o
3

In [ ]:
#wap count the numbers of vowels in a givem string string='hai how are you'

In [51]:

string1='hai how are you'
count=0
for i in string1:
    print(i)
    if i in 'aeiou':
        count=count+1
print(count)

h
a
i

h
o
w

a
r
e

y
o
u
7

In [66]:
#wap count the number of unique vowels:


str1=' '
string1='hai how are you'
count=0
for i in string1:
    print(i)
    if i in 'aeiou':
        count=count+1
        string1=string1+1
print(count)

h
a

TypeError: can only concatenate str (not "int") to str

In [ ]:
string1=' '
for i in 'python':
    string1=string1+i
    
print(string1)

#concatenation

str1='hai'
str2='hello'

In [70]:
3*str1

'haihaihai'

$index$

In [72]:
string1='python'

In [ ]:
p  y  t  h  o  n
0  1  2  3  4  5

In [75]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [76]:
for i in range(5):
    print(string1[i])
    
    
    
#in this loop i will give the indices and string(i) will guive the letters in the range function

p
y
t
h
o

In [80]:
string1='python'

#i want to print letters using in operator
#i want to print letters using range operator

for i in string1:
    print(i)
    
for i in range(len(string1)):
    print(i,string1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n