**TUPLE**

- A tuple represents a sequence of any objects
- separated by commas and enclosed in parentheses. 
- A tuple is an immutable object, which means it cannot be changed, 
- and we use it to represent fixed collections of items

In [2]:
#EXAMPLE:
mytuple = ("apple", "banana", "cherry")
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Create Tuple With One Item**

In [7]:
#To create a tuple with only one item,you have to add a comma after the item, 
#otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

**TYPE**

In [5]:
#the type() function is used to determine the type of an object.
#When applied to a tuple, it returns the type of the tuple object.
#Let's explore this with an example:
# Creating a tuple
my_tuple = (1, 'hello', 3.14, True)

# Checking the type of the tuple
tuple_type = type(my_tuple)

# Displaying the result
print("Type of my_tuple:", tuple_type)

Type of my_tuple: <class 'tuple'>

**LEN**

In [6]:
#which is used to determine the length or the number of elements in a sequence,
#including tuples
my_tuple = (1, 'hello', 3.14, True)

# Getting the length of the tuple
tuple_length = len(my_tuple)

# Displaying the result
print("Length of my_tuple:", tuple_length)

Length of my_tuple: 4

**IN**

In [8]:
#We use the ‘in’ operator to check if the object is present in the tuple
tuple=('GOOGLE', 'is', 'the', 'best', 'platform', 'to', 'learn', 'new', 'skills')
print("GOOGLE" in tuple)
print("HelloWorld" in tuple)

True
False

**MAX-MIN**

In [10]:
#The max()&min()can be used with tuples to find the max and min values.
#These functions work with any iterable, including tuples.
# Creating a tuple of numbers
numbers_tuple = (5, 12, 8, 3, 15, 7)

# Using the 'max' and 'min' functions with the tuple
max_value = max(numbers_tuple)
min_value = min(numbers_tuple)

# Displaying the results
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 15
Minimum value: 3

**concatenation**

In [12]:
#you can concatenate two tuples using the + operator.
#his creates a new tuple containing the elements of both tuples
# Creating two tuples
tuple1 = (1, 2, 3)
tuple2 = ('apple', 'banana', 'orange')

# Concatenating the tuples
concatenated_tuple = tuple1 + tuple2

# Displaying the result
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 'apple', 'banana', 'orange')

**multiplication-subtraction-division**

- Unlike lists or arrays, tuples in Python do not support direct mul,div,sub
- Tuples are immutable, meaning their elements cannot be changed after creation. 
 - operations like mul and sub that would modify the elements are not applicable to tuples.

In [13]:
#here is the example:
# Creating two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Multiplication (repeating a tuple)
result_multiply = tuple1 * 3

# Concatenation (simulating addition)
result_add = tuple1 + tuple2

# Displaying the results
print("Multiplication (repeating tuple1):", result_multiply)
print("Concatenation (adding tuple1 and tuple2):", result_add)

Multiplication (repeating tuple1): (1, 2, 3, 1, 2, 3, 1, 2, 3)
Concatenation (adding tuple1 and tuple2): (1, 2, 3, 4, 5, 6)

**indexing**

In [14]:
#tuple is a sequence of objects, we can access these objects through indexing
#Let’s try indexing a tuple:
a_tuple = (0, [1, 2, 3], (4, 5, 6), 7.0)
print('The first element:', a_tuple[0])
print('The last element:', a_tuple[-1])
print('The data type of the second element:', type(a_tuple[1]))
#in this 1st&2nd lines return the values of the tuples 1st&last elements.
#The last statement prints out the data type
#of the second element of the tuple which is a list object.

The first element: 0
The last element: 7.0
The data type of the second element: <class 'list'>

**slicing**

- slicing a tuple is as simple as slicing a Python string or a list with the same rules.
- To get a range of elements within a tuple,
- we can specify a range of indices to retrieve by selecting
- where to start (inclusive) and end (exclusive) the range.

In [15]:
num_tuple = 2, 4, 5, 7, 8, 10
print(num_tuple[:3])
print(num_tuple[4:])
print(num_tuple[-3:])
print(num_tuple[2:5])

(2, 4, 5)
(8, 10)
(7, 8, 10)
(5, 7, 8)

**TUPLE METHODS**

## Tuple count() Method ##

In [16]:
#Returns the number of times a specified value occurs in a tuple
#Return the number of times the value "5" appears in the tuple:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

## Tuple index() Method ##

In [17]:
#Searches the tuple for a specified value and 
#returns the position of where it was found
#Search for the first occurrence of the value 8, 
#and return its position:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3